// Theme color default definitions
$primary: #3f6ad8;
$schedule: #40a5ff;
$primary_shadow: #3f6ad8;
$primary_l: #eff6ff;
$white: #fff;
$secondary_l: #dcfffb;
$success_l: #eafdfa;
$danger: #dc3545;
$sport: #fc3f52;
$sport_border: #f6e6e6;

$health: #a4e6d2e6;
$health_border: #eafdfa;

$work: #ffa062;
$work_border: #f9d4bb;

$dark: #1b1b1b;
